.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #424243;
  height: 150%;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

/* Navbar */
nav {
  background-color: #262626;
}

.title {
  color: #f66416;
}

h1 {
  text-align: left;
  font-size: 2.5em;
}

p, a {
  color: silver;
}

a:link {
  color: silver;
  background-color: transparent;
  text-decoration: none
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none
}

/* .modal, .modal-footer {
  background-color: #262626;
  color: white;
} */

.search {
  color: silver;
}

h4 {
  background: #f66416;
  color: white;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
